/* font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */
*{
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
    height: 100vh;
}
a{
    text-decoration: none;
    color: inherit;
}
.header{
    background-image: url(../images/header-bg.png);
    min-height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.header__top{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    border-bottom: 1px solid #4f5269;
}
.menu__list { 
    display: flex;
    list-style: none;
}
.menu__list li + li{
    padding-left: 58px;
}
.menu__list a{
    color: #cbccd3;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}


.header__bottom{
    padding-top: 155px;
}
.header__bottom-title{
    font-size: 65px;
    line-height: 71px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}
.header__bottom-text{
    padding-top: 42px;
    font-size: 22px;
    line-height: 33px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    margin-bottom: 100px; 
}
.header__bottom-btn{
    text-align: center;
}
.header__bottom-btn a{
    background-color: #e84545;
    color: #fff;
    text-transform: uppercase;
    border-radius: 2px;
    padding: 20px 46px 18px 54px;
}

.advantages__main-items{
    padding: 125px 0 45px 0;
}
.advantages__items{
    display: flex;
    justify-content: space-between;
}
.advantages__item{
    max-width: 300px;
    text-align: center;
}
.advantages__item-images{
    padding-bottom: 35px;
}
.advantages__item-title{
    padding-bottom: 25px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: #2d3033;
}
.advantages__item-text{
    padding-bottom: 75px;
    font-size: 14px;
    font-weight: 400;
    color: #93989d;
    max-height: 150px;
}

.presentation__items-1,
.presentation__items-2{
    display: flex;
    justify-content: center;
    height: 350px; 
}

.presentation__item-1{
    background-image: url(../images/presentation-1-1.png);
    width: 469px; 
    
    border-right: 1px solid #fff;
    position: relative;
    background-size: cover;
}

.presentation__item-2{
    background-image: url(../images/presentation-1-2.png);
    width: 480px;
    
    border-right: 1px solid #fff;
    position: relative;
    background-size: cover;
}
.presentation__item-3{
    background-image: url(../images/presentation-1-3.png);
    width: 480px;
    
    border-right: 1px solid #fff;
    position: relative;
    background-size: cover;
}
.presentation__item-4{
    background-image: url(../images/presentation-1-4.png);
    width: 469px;
    
    position: relative;
    background-size: cover;
}
.presentation__item-2-1 {
    background-image: url(../images/presentation-2-1.png);
    width: 469px;
    
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    position: relative;
    background-size: cover;
}
.presentation__item-2-2 {
    background-image: url(../images/presentation-2-2.png);
    width: 480px;
    
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    position: relative;
    background-size: cover;
}
.presentation__item-2-3 {
    background-image: url(../images/presentation-2-3.png);
    width: 480px;
    
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    position: relative;
    background-size: cover;
}
.presentation__item-2-4{
    background-image: url(../images/presentation-2-4.png);
    width: 469px;
    
    border-top: 1px solid #fff;
    position: relative;
    background-size: cover;
} 

.presentation__item-link{
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    cursor: pointer;
}
.presentation__item-link:hover{
    background-color: #e4413f;
    transition-duration: 0.5s;
    opacity: 0.9;
}
.presentation__item-content{
    padding-top: 155px;
    padding-bottom: 154px;
    text-align: center;
    opacity: 0;
}
.presentation__item-content:hover{
    opacity: 1;
} 
.presentation__item-tile{
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 13px;
}
.presentation__item-text{
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}


@media (max-width: 1420PX){
    .presentation__items-1,
    .presentation__items-2{
        height: 300px;
    }
    .presentation__item-content{
        padding-top: 130px;
        padding-bottom: 129px;
    }
}
@media (max-width: 1220PX){
    .presentation__items-1,
    .presentation__items-2{
        height: 250px;
    }
    .presentation__item-content{
    padding-top: 105px;
    padding-bottom: 104px;
    }
}
@media (max-width: 1015PX){
    .presentation__items-1,
    .presentation__items-2{
        height: 200px;
    }
    .presentation__item-content{
        padding-top: 79px;
        padding-bottom: 80px;
    }

}
@media (max-width: 980PX){
    .header__bottom-title{
        font-size: 55px;
        line-height: 61px;
    }
    .header__bottom-text{
        font-size: 18px;
        line-height: 24px;
    }
}
@media (max-width: 930PX){
    .advantages__item{
        max-width: 250px; 
    }
}
@media (max-width: 880PX){
    .menu__list li + li{
        padding-left: 40px;
    }
}
@media (max-width: 810PX){
    .header{
        height: 660px
    }
    .header__bottom-title{
        font-size: 45px;
        line-height: 51px;
    }
    .header__bottom-text{
        font-size: 16px;
        line-height: 22px;
    }
    .advantages__main-items{
        padding: 75px 0 30px 0;  
    }
    .advantages__item{
        max-width: 200px; 
    }
    .advantages__item-text{
        padding-bottom: 50px;
    }
    .presentation__items-1,
    .presentation__items-2{
        height: 180px;
    }
    .presentation__item-content{
        padding-top: 72px;
        padding-bottom: 73px;
    }
    .presentation__item-tile{
        font-size: 13px;
        margin-bottom: 10px;
    }
    .presentation__item-text{
        font-size: 12px;
    }
}
@media (max-width: 790PX){
    .menu__list{
        display: none;
        position: absolute;
        top: 100px;
        width: 100%;
        left: 0;
        text-align: center;        
        z-index: 5;
        background-color: #292d4c;
    }
    .menu__list li + li{
        padding-left: 0;
    }
    .menu__list a{
        display: block;
        padding: 10px 0;
        border-bottom: 1px solid #fff;
    }
    .menu__btn {
        width: 30px;
        height: 20px;
        position: relative;
    }
    .menu__btn span{
        width: 100%;
        height: 2px;
        background-color: #fff;
        top: 9px;
        position: absolute;
    }
    .menu__btn::after,
    .menu__btn::before{
        content: "";
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
    }  
    .menu__btn::after{
        top: 0;
    } 
    .menu__btn::before{
        bottom: 0;
    }
    .header__bottom{
        padding-top: 162px;
    }
    .header__bottom-text{
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 0;
        padding-bottom: 70px; 
    }
    .advantages__main-items{
        padding: 50px 0 30px 0;  
    }    
}
@media (max-width: 750PX){
    .presentation{
        display: flex;
        padding-right: 15px;
        padding-left: 15px;
        justify-content: center;
    }
    .presentation__items-1,
    .presentation__items-2{
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 1px;
        min-width: 200px;
    }
    .presentation__item-1,
    .presentation__item-2,
    .presentation__item-3,
    .presentation__item-4,
    .presentation__item-2-1,
    .presentation__item-2-2,
    .presentation__item-2-3,
    .presentation__item-2-4{
        min-height: 200px;
        min-width: 250px;
    }
    .presentation__item-1,
    .presentation__item-2,
    .presentation__item-3,
    .presentation__item-4{
        border-top: 1px solid #fff;
        border-left: 1px solid #fff;
    }
    .presentation__item-2-4{
        border-left: 1px solid #fff;
    }
    .presentation__item-content{
        padding-top: 83px;
        padding-bottom: 81px;
        
    }

}
@media (max-width: 660PX){
    .header__bottom{
        padding-top: 55px;
    }
    .advantages__items{
        /* display: flex; */
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .advantages__item{
        max-width: 300px
    }
    .advantages__item-text{
        padding-bottom: 50px;
    }
}
@media (max-width: 615PX){
    .presentation__items-1,
    .presentation__items-2{
        min-width: 250px;
    }
}
@media (max-width: 510PX){
    .presentation__items-1,
    .presentation__items-2{
        min-width: 200px;
    } 
    .presentation__item-1,
    .presentation__item-2,
    .presentation__item-3,
    .presentation__item-4,
    .presentation__item-2-1,
    .presentation__item-2-2,
    .presentation__item-2-3,
    .presentation__item-2-4{
        min-height: 160px;
        min-width: 200px;
    }
    
    .presentation__item-content{
        padding-top: 65px;
        padding-bottom: 59px;
        
    }
}

@media (max-width: 430PX){
    .header__bottom{
        padding-top: 40px;
    }
    .header__bottom-text{
        padding-bottom: 70px;
        margin: 0;
    }
    .advantages__item-text{
        padding-bottom: 30px;
    }
    .presentation__items-1,
    .presentation__items-2{
        min-width: 180px;
    } 
    .presentation__item-1,
    .presentation__item-2,
    .presentation__item-3,
    .presentation__item-4,
    .presentation__item-2-1,
    .presentation__item-2-2,
    .presentation__item-2-3,
    .presentation__item-2-4{
        min-height: 130px;
        min-width: 180px;
    }
    .presentation__item-content{
        padding-top: 50px;
        padding-bottom: 44px;        
    }
}
@media (max-width: 360PX){
    .presentation__items-1,
    .presentation__items-2{
        min-width: 160px;
    } 
    .presentation__item-1,
    .presentation__item-2,
    .presentation__item-3,
    .presentation__item-4,
    .presentation__item-2-1,
    .presentation__item-2-2,
    .presentation__item-2-3,
    .presentation__item-2-4{
        min-height: 110px;
        min-width: 160px;
    }
    .presentation__item-content{
        padding-top: 35px;
        padding-bottom: 39px;        
    }
}
@media (max-width: 330PX){
    .advantages__item{
        max-width: 250px;
    }
}

@media (min-width: 790PX){
    .menu__list{
        display: flex !important;
    }
}